// Colors

$surface1: #ffffff;
$default: #293244;
$muted: #a0a9b8;
$surface5: #d0d4dc;
$surface3: #f6f6f8;
$disabled: rgba(68, 83, 113, 0.5);
$disabled-btn: rgba(68, 83, 113, 0.1);

$blue-100: #45a5f6;
$blue-110: #007ee5;
$blue-060: #c7e4fc;
$blue-050: #daedfd;

$red-110: #e12828;
$red-050: #fadee0;

$violet-110: #6447cf;
$violet-100: #8a6bf4;

// Fonts

$font-regular: 'Circe Rounded', sans-serif;
$font-size-title3: 20px;
$font-size-16: 16px;
$font-size-14: 14px;
$font-size-12: 12px;
$line-height-135: 1.35;
$line-height-140: 1.4;

// Breakpoints

$breakpoint-xs: 526px;
$breakpoint-sm: 744px;
$breakpoint-lg: 1200px;
